body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.music-player {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.playlist {
    flex: 1;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.playlist h2 {
    margin: 0 0 0px;
    font-size: 20px;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playlist li:hover {
    background-color: #444;
}

.playlist img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.playlist span {
    flex: 1;
}

.audio-player {
    flex: 1;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-player h2 {
    margin: 0 0 20px;
    font-size: 24px;
    width: 20px;
    height: 20px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: color 0.3s ease;
}

button:hover {
    color: #1ED760;
}

input[type="range"] {
    width: 100%;
    appearance: none;
    background-color: transparent;
    height: 5px;
    border-radius: 5px;
    outline: none;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #1ED760;
    border: none;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #1ED760;
    border: none;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #555;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    height: 5px;
    background-color: #555;
    border-radius: 5px;
}

#audio {
    width: 100%;
}

.selected {
    background-color: #444 !important;
}

.audio-player h2 {
    background-image: url("default-song-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
