.header {
    background-color: blue;
    display: flex;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.restaurant-list {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.restaurant-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-bottom: 1px solid #666;
    transition: background-color 0.3s;
}

.restaurant-link:hover {
    background-color: #555;
}

.restaurant-name {
    margin-right: 10px;
}

.restaurant-image {
    width: 30px;
    height: 30px;
}
