.header {
    background-color: rgba(13, 225, 253, 0.493);
    align-items:center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00f7ff;
    margin: 0;
    padding: 0;
}

.restaurant-list {
    list-style-type: none;
    padding: 0;
    display:flexbox;
    align-items: center;
}

.restaurant-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff62;
    border-bottom: 1px solid #2006b100;
    transition: background-color 0.3s;
}

.restaurant-link:hover {
    background-color: #00eeff88;
}

.restaurant-name {
    margin-right: 10px;
}

.restaurant-image {
    width: 30px;
    height: 30px;
}

